@model StudentRecords.Models.StudentInfo

@{
    ViewBag.Title = "Smart Student Portal";
}

<h2>Index</h2>
<h3>Welcome to ABC School Student Portal!</h3>
Follow the menu items to access through different options

